.border {
    width: 200px;
    clip-path: polygon(91.96% 76.88%, 92.02% 0.55%, 100% 0.56%, 100% 100%, 0% 100%, 0% 76.88%);
    background-color: #007c61;
    background-image: url("../../../images/backgrounds/bg-2.png");
}