.scroller-container {
  /* display: flex;
  justify-content: center;
  align-content: center; */
}
.highlight-text {
  /* background-image: linear-gradient(0, rgb(255, 255, 0), rgb(255, 255, 0)); */
  background-image: linear-gradient(0, darkcyan, darkcyan);
  /* background-size: 100% 65%;
  background-repeat: no-repeat;
  background-position: 0 65%; */
  font-weight: bold;
}

@font-face {
  font-family: horror;
  src: url("../../../fonts/wordScroll/Melted\ Monster.ttf");
}
@font-face {
  font-family: sci-fi;
  src: url("../../../fonts/wordScroll/Pavelt.ttf");
}
@font-face {
  font-family: fantasyFont;
  src: url("../../../fonts/wordScroll/Seagram\ tfb.ttf");
}
@font-face {
  font-family: nonFiction;
  src: url("../../../fonts/wordScroll/Lost\ Emerald.otf");
}
@font-face {
  font-family: humor;
  src: url("../../../fonts/wordScroll/Lets\ Coffee.ttf");
}
@font-face {
  font-family: romance;
  src: url("../../../fonts/wordScroll/Love.ttf");
}
@font-face {
  font-family: fiction;
  src: url("../../../fonts/wordScroll/JMH\ Typewriter-Black.otf");
}

@font-face {
  font-family: thriller;
  src: url("../../../fonts/wordScroll/STOREB__.TTF");
}

@font-face {
  font-family: memoir;
  src: url("../../../fonts/wordScroll/Moody.otf");
}

@font-face {
  font-family: philosophy;
  src: url("../../../fonts/wordScroll/Pirate\ Scroll.otf");
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
}
.scroller > div {
  position: absolute;
  color: white;
  top: 0;
  animation: slide 18s infinite;
  font-weight: bold;
}

.nonFiction {
  font-family: nonFiction;
}
.horror {
  font-family: horror;
}
.romance {
  font-family: romance;
}
.sci-fi {
  font-family: sci-fi;
}
.memoir {
  font-family: memoir;
}
.philosopher {
  font-family: philosopher;
}
.mystery {
  font-family: mystery;
}
.fantasyFont {
  font-family: fantasyFont;
}
.humor {
  font-family: humor;
}
.thriller {
  font-family: thriller;
}
.fiction {
  font-family: fiction;
}
.philosophy {
  font-family: philosophy;
}
@keyframes slide {
  /* nonfiction */
  0% {
    top: 0;
    /* background-color: rgb(64, 213, 0); */
  }
  /* sci fi */
  9% {
    top: -1.2em;
    /* background-color: rgb(17, 33, 105); */
  }
  /* mystery */
  18% {
    top: -2.4em;
    /* background-color: rgb(226, 12, 12); */
  }
  /* romance */
  27% {
    top: -3.7em;
    /* background-color: rgb(10, 128, 130); */
  }
  /* thriller */
  36% {
    top: -4.8em;
    /* background-color: rgb(130, 10, 120); */
  }
  /* fantasy */
  45% {
    top: -6.1em;
    /* background-color: rgb(130, 96, 10); */
  }
  /* philosophy */
  54% {
    top: -7.3em;
    /* background-color: rgb(10, 26, 130); */
  }
  /* horror */
  63% {
    top: -8.7em;
    /* background-color: rgb(224, 36, 108); */
  }
  /* fiction */
  72% {
    top: -9.9em;
    /* background-color: rgb(230, 255, 1); */
  }
  /* memoir */
  81% {
    top: -11.2em;
    /* background-color: rgb(250, 15, 15); */
  }
  /* humor */
  90% {
    top: -12.4em;
    /* background-color: rgb(250, 15, 15); */
  }
}
