/* .reading-card:nth-child(even) {
  background-color: rgba(230, 230, 230, 0.03);
  color: black;
} */

.book-card-special-border {
  border: 5px dashed rgba(0, 139, 139, 0.534);
  box-shadow: 0 0 0 2.5px #008484, 0 0 0 12.5px #fff, inset 0 0 0 2.5px #008484,
    0 5px 10px 15px rgba(0, 0, 0, 0.5), inset 0 0 0 6px #fff,
    inset 0 0 100vw 100vw rgba(245, 245, 220, 0.521);
  color: darkcyan;
}
/* .book-card-special-border {
  box-shadow: inset #009688 0 0 0 5px, inset #059c8e 0 0 0 1px,
    inset #0cab9c 0 0 0 10px, inset #1fbdae 0 0 0 11px, inset #8ce9ff 0 0 0 16px,
    inset #48e4d6 0 0 0 17px, inset #e5f9f7 0 0 0 21px, inset #bfecf7 0 0 0 22px;
} */
