/* MEDIA QUERIES */

@media only screen and (max-width: 558px) {
  .about-us-hero {
    height: 135vh !important;
  }
}

/* FOLD */
@media only screen and (max-width: 280px) {
}

.about-us-hero {
  position: relative;
  display: flex;
  background-image: url("../../../images/backgrounds/book-background-I.jpg");
  /* Change this responsive */
  height: 100vh;
  width: 100%;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.75);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 85px;
}

.about-us-hero h1 {
  display: inline;
  text-align: center;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 80px;
  font-style: italic;
  text-decoration: underline;
  font-family: "ransom";
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* -webkit-text-stroke: black 1px; */
  font-weight: bold;
  /* border: white 4px solid; */
  border-radius: 20px;
}

.about-header {
  animation-duration: 0.8s;
  animation-name: fade-in;
}

.page-arrow-down {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 125px;
  right: 30px;
  /* color: white; */
  font-size: 14px;
  letter-spacing: 1.5px;
}

/* ANIMATIONS */
@keyframes fade-in {
  from {
    /* margin-left: 100%; */
    /* margin-right: 100%; */
    opacity: 0;
  }

  to {
    /* margin-left: 0%; */
    /* margin-right: 0%; */
    opacity: 1;
  }
}

/* IMAGE ANIMATION */
.container-bubble {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.shape {
  background: linear-gradient(45deg, #00ffb6 0%, #000fa3 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  width: 400px;
  box-shadow: 0 0 10px #353333;
}

.top-cog {
  animation: left-cog-spin 8s ease-in-out infinite;
}

.other-cog {
  animation: right-cog-spin 8s ease-in-out infinite;
}
.right-test-tube {
  animation: right-fill 2s alternate-reverse infinite;
  width: 24.9px;
  right: 98.5px;
}

.left-test-tube {
  animation: left-fill 3s alternate-reverse infinite;

  position: absolute;
  background-color: #f0eadd;
  filter: hue-rotate(80deg);
  width: 28px;
  top: 132px;

  right: 201.5px;
}

@keyframes left-fill {
  0% {
    /* top: 149px; */
    height: 2px;
  }
  100% {
    /* top: 171px; */

    height: 40px;
  }
}
@keyframes right-fill {
  0% {
    top: 190px;
  }
  100% {
    top: 147px;
  }
}

@keyframes left-cog-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes right-cog-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

@keyframes morph {
  0% {
    border-radius: 20% 40% 34% 72% / 20% 30% 70% 40%;
    background-size: 100% 100%;
    transform: rotate(0deg);
    transform: skew(0);
    transform: translate(0, 0);
  }

  50% {
    border-radius: 30% 60% 73% 42% / 50% 60% 30% 60%;
    background-size: 300% 150%;
    transform: rotate(5deg);
    transform: skew(1.4);
    transform: translate(10, 8);
  }

  100% {
    border-radius: 20% 40% 34% 72% / 20% 30% 70% 40%;
    background-size: 100% 100%;
    transform: rotate(0deg);
    transform: skew(0);
    transform: translate(0, 0);
  }
}

/* unvisited link */
.about-anchor:link {
  color: inherit;
}

/* visited link */
.about-anchor:visited {
  color: inherit;
}

/* mouse over link */
.about-anchor:hover {
  color: darkcyan;
}

/* selected link */
.about-anchor:active {
  color: inherit;
}

.heart {
  animation: heartbeat 2s infinite;
}

.traffic-cone {
  animation: cone-shake 2s infinite ;

}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}



@keyframes cone-shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(7deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-7deg); }
  100% { transform: rotate(0deg); }
}
